/* Cathleen Carbonell
PWA 2 02/2015 */

/* FONTS */

@import url(http://fonts.googleapis.com/css?family=Jura);

/* GLOBAL STYLES */

body {
    background: #fff;
    color: #333;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
}

h1 {
    font-family: 'Jura', Arial, sans-serif;
    font-size: 5em;
    color: #75231F;
    padding: 5px;
    margin: 5px;
}

h2 {
    font-family: 'Jura', Arial, sans-serif;
    font-size: 2em;
    color: #e4bc4c;
    padding: 5px;
    margin: 5px;
}

/* CONTAINERs */

#container div {
    width: 960px;
    margin: 0 auto;
    background: #efefef;
}

